.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.75);
}

.modal {
	position: fixed;
	top: 30vh;
	left: 10%;
	width: 80%;
	z-index: 100;
	overflow: hidden;
	background-color: white;
	border-radius: 1em;
}

.header {
	background: black;
	padding: 1rem;
}
.header h2 {
	margin: 0;
	color: white;
}

.content {
	padding: 1rem;
}

.actions {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

.form__module.invalid input {
	background: #f0eeee;
}

.form__module {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	font-family: "Roboto";
	align-items: center;
}

.modify__button {
	margin-top: 25px;
	background-color: #66c52f;
	box-shadow: 0 0.15em 1em rgba(black, 0.2);
	width: 30%;
	height: 30px;
	border-radius: 1em;
	border: none;
	font-family: "Roboto";
	color: white;
	cursor: pointer;
}

.modify__button :hover {
	background-color: aliceblue;
}

.modify__button__invalid {
	margin-top: 25px;
	background-color: #dfdbdb;
	width: 30%;
	height: 30px;
	border-radius: 1em;
	border: 1px #d8d8d8 solid;
	font-family: "Roboto";
}

@media (min-width: 768px) {
	.modal {
		left: calc(50% - 20rem);
		width: 40rem;
	}
}
