.user__page {
	display: flex;
	justify-content: center;
	height: 700px;
	font-family: "Roboto";
	width: 70%;
	margin: 0 auto;
}

.user__picture {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: 100%;
}
.user__picture img {
	margin-top: 5%;
	object-fit: cover;
	width: 20vh;
	height: 20vh;
	border-radius: 25em;
}

.user__profil {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3%;
	font-size: 1.5em;
	padding: 10px;
}
.user__age {
	padding: 20px;
}

.user__information {
	width: 50%;
	font-family: "Roboto";
}
.user__information__header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: auto;
	margin-top: 10%;
	margin-left: 20px;
}

.user__job {
	font-style: italic;
	color: darkgray;
	margin-bottom: 20px;
}
.user__name {
	text-transform: capitalize;
	font-size: 2.5em;
}

.user__bio {
	width: 90%;
	line-height: 28px;
	margin-left: 20px;
	font-size: 0.9em;
}

.user__activity {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}

.user__picto {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 0.75em;
	border: solid black 1px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.user__picto svg {
	padding: 10px;
}
.user__picto p {
	padding-left: 10px;
}
